<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> Liga </ion-title>
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tabs>
            <ion-tab-bar slot="top">
              <ion-tab-button tab="jornada" routerLink="/jornada">
                <ion-icon name="football-outline"></ion-icon>
                <ion-label>Jornada</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-col>

        <ion-col>
          <ion-tabs>
            <ion-tab-bar slot="top">
              <ion-tab-button tab="clasificacion" routerLink="/clasificacion">
                <ion-icon name="list-outline"></ion-icon>
                <ion-label>Clasificacion</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-col>
        <br />
        <br />
        <br />
      </ion-row>
    </ion-grid> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-title style="text-align: center">INTRODUCCION</ion-title>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="floating">Introduce equipo</ion-label>
    <ion-input [(ngModel)]="equipoSeleccionado"></ion-input>
    <ion-button color="success" (click)="addEquipo()"
      >Agregar <ion-icon name="bookmarks-outline" slot="end"></ion-icon
    ></ion-button>
  </ion-item>

  <ion-item *ngFor="let string of arrayNombreEquipos,index as i">
    <ion-label>Team {{i+1}} : {{arrayNombreEquipos[i]}}</ion-label>
  </ion-item> -->

  <ion-button style="margin-left: 25%;" color="primary" routerLink="/clasificacion"
    >EMPEZAR LIGA
  </ion-button>
</ion-content>
